header {
    padding: 1rem 0;
    nav {
        align-items: flex-end;

        &.navbar > .container {
            align-items: flex-end;
            position: relative;
        }

        .navbar-brand {
            img {
                width: 250px;
            }
        }

        .navbar-toggler {
            padding: 0.25rem;
            border-color: rgba(#2da29a, 0.4);
            font-size: 1.5rem !important;

            &:focus {
                box-shadow: 0 0 0 0.125rem rgba(#2da29a, 0.4);
            }
        }

        .navbar-collapse {
            text-align: center;
            background-color: white;
            z-index: 999999;
            .navbar-nav {
                .nav-link {
                    font-weight: 500;
                    padding: 0.5rem 0.75rem;

                    transition: color 0.1s, text-shadow .2s;

                    &:hover {
                        opacity: 1;
                        color: #2da29a;
                    }

                    &:active {
                        text-shadow: 0px 0px 2px rgba(#2da29a, 0.4);
                    }
                }
            }

            .action a {
                display: inline-flex;
                align-items: center;
                justify-content: space-between;

                padding: 0.35rem 0.75rem;
                margin-left: 1rem;

                font-size: 1.1rem;
                font-weight: 600;

                .icon {
                    margin-right: 0.75rem;
                }
            }
        }
    }
    
}


@media all and (max-width: 992px) {
    header nav {
        .navbar-brand {
            img {
                width: calc(160px + 5vw);
            }
        }
        .navbar-collapse {
            margin-top: 0.5rem;
            text-align: right;

            box-shadow: 0px 0px 5px rgba(#2da29a, 0.4);
            border: 2px solid rgba(#2da29a, 0.4);
            border-radius: 0.25rem;

            // position the nav
            position: absolute;
            top: 50px;
            right: 1rem;

            .navbar-nav {
                margin: 1rem 1.25rem 1rem !important;
            }
            .action {
                margin: 1rem 1.25rem 1rem;
            }
        }
    }
}


@media all and (max-width: 300px) {
    header nav {
        .navbar-brand {
            img {
                width: calc(135px + 5vw);
            }
        }
        .navbar-collapse {
            margin-top: .25rem;
            right: .5rem;
        }
    }
}
