.hero {
    position: relative;
    padding: 2rem 0 calc(5rem + 20px);
    background: linear-gradient(180deg, #ffffff 0%, #e6fffd 100%);

    .fibonacci {
        position: absolute;
        width: 100%;
        bottom: 0;
        height: 20px;
        box-shadow: 0px -5px 15px rgba(#000, 0.15);
    }

    .wrap {
        align-items: flex-end;
        .text {
            .logo img {
                display: none;
                height: 105px;
                max-width: 100%;
                margin-bottom: 5rem;
            }
            .title {
                margin-bottom: 2.5rem;
                .intro {
                    font-weight: 600;
                    font-size: 0.8em;
                    margin-bottom: 1.5rem;
                }
                .highlight {
                    color: #2da29a;
                    letter-spacing: 0.5px;
                }
            }

            .action {
                .btn {
                    font-size: 1.25rem;
                    font-weight: 600;
                    padding: 0.5rem 1.5rem;
                    text-transform: uppercase;
                }
            }
        }
        .image {
            display: flex;
            img {
                margin-left: auto;
                width: calc(500px + 5vw);
                max-width: 100%;
                border-radius: 40px;
            }
        }
    }
}

@media all and (max-width: 992px) {
    .hero {
        padding: 2rem 0 4rem;
        margin-top: 0;
        .wrap {
            text-align: center;
            .text {
                padding-bottom: 0;
                .title {
                    margin-bottom: 2rem;
                    .intro {
                        margin-bottom: 0.75rem;
                    }
                }
                .action .btn {
                    font-size: 1.1rem;
                }
            }
            .image {
                margin-top: 3rem;
                img {
                    margin: 0 auto;
                }
            }
        }
    }
}

@media all and (max-width: 576px) {
    .hero {
        .wrap {
            text-align: left;
            .text {
                .title {
                    font-size: calc(1.375rem + 1vw);
                }
                .action {
                    .btn {
                        font-size: calc(.9rem + 0.25vw);
                        margin-right: auto;
                        text-align: left;
                    }
                }
            }
        }
    }
}

@media all and (max-width: 330px) {
    .hero {
        padding: 1rem 0 4rem;
        .wrap {
            .text {
                .title {
                    font-size: calc(1rem + 1vw);
                    .intro {
                        font-size: .9em;
                    }
                }
                .action .btn {
                    font-size: calc(0.8rem + 0.25vw);
                    line-height: 1.5 !important;
                }
            }
        }
    }
}
