$overlay1: linear-gradient(rgba(#004a45, 0), rgba(mix(black, #004a45, 20%), 0.6) 50%);
$overlay2: linear-gradient(rgba(#2da29a, 0), rgba(mix(black, #2da29a, 20%), 0.6) 50%);

$color: #fff;
$color_hover: #fff;


.services {
    padding: 4rem 0;

    .services-view {
        position: relative;
        margin: 3rem 0 1rem;

        .service {
            position: relative;

            display: flex;
            height: 160px;

            align-items: flex-end;
            justify-content: flex-start;

            border-radius: 10px;
            overflow: hidden;
            border: solid 3px transparent;

            transition: all 0.2s;

            .name {
                padding: 2rem .75rem 1rem;
                position: relative;
                width: 100%;
                margin-bottom: 0;
                
                color: $color;
                font-size: 1.05rem !important;
                font-weight: 600;

                word-wrap: break-word;
                                
                letter-spacing: .5px;
                text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
                text-transform: uppercase;

                transition: opacity 0.2s;
                
                &::before {
                    content: "";
                    position: absolute;
                    background: $overlay1;
                    z-index: -1;
                    width: 100%;
                    height: 100%;
                    inset: 0;
    
                    transition: opacity 0.2s;
                }
            }


            img {
                position: absolute;
                width: 100%;
                height: 100%;
                z-index: -2;
                object-fit: cover;
                inset: 0;

                transition: transform .2s;
            }

            &:hover {
                .name {
                    color: $color_hover;
                    &::before {
                        opacity: 0.6;
                    }
                }

                img {
                    transform: scale(1.05);
                }
            }

            &[aria-expanded="true"] {
                border: solid 3px #2da29a;
                box-shadow: 0px 0px 10px rgba(#2da29a, 0.4);
                z-index: 10;

                .name {
                    opacity: 0;
                    &::before {
                        opacity: 0;
                    }
                }
            }
        }

        .collapse,
        .collapsing,
        .show {
            background-color: white;
            width: 100%;
            position: absolute;
            left: 0;
            z-index: 9;

            .service-info {
                width: 768px;
                max-width: 100%;
                margin: 20px auto 0;
                padding: 1.5rem 1.25rem;

                border: solid 3px rgba(#2da29a, 0.4);
                border-radius: 10px;

                .name {
                    font-weight: 600;
                    margin-bottom: 0.5rem;
                }

                .cta a {
                    font-size: 0.85rem;
                    font-weight: 600;
                }
            }
        }

        .col {
            // Add transition for padding-bottom, added using jquery when collapse is shown
            transition: padding-bottom 0.6s;

            // Only show pointer if collapse is added
            &:has(.collapse) .service {
                cursor: pointer;
            }

            &:nth-child(2), 
            &:nth-child(4), 
            &:nth-child(5), 
            &:nth-child(7) 
            {
                .service .name {
                    &::before {
                        background: $overlay2;
                    }
                }
            }
        }
    }
}

@media all and (max-width: 576px) {
    .services {
        .services-view {
            margin: 2rem 0 1rem;
            .col {
                padding: 0;

                &:nth-child(n) {
                    .service .name {
                        
                        &::before {
                            background: $overlay1;
                        }
                    }
                }
                &:nth-child(2n) {
                    .service .name {
                        &::before {
                            background: $overlay2;
                        }
                    }
                }
            }
            .service {
                height: calc(100px + 10vw);

                .name {
                    font-size: 1rem !important;
                }

                &[aria-expanded="true"] {
                    height: calc(120px + 10vw);

                    .name {
                        opacity: 0;
                    }
                    &::before {
                        opacity: 0;
                    }
                }
            }
            .collapse,
            .collapsing,
            .show {
                width: calc(100% + 1.5rem);
                left: -0.75rem;
            }
        }
    }
}
